$black: #000000 !default;
$white: #f3f3f3 !default;
$grey: #212529 !default;
$light-grey: #262b30 !default;
$lighter-grey: #2f363b !default;
$grey-outline: #333b3f !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #ff7a00 !default;
$dark-orange: #ff3d00 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$gold: #ff9900 !default;
$silver: #8f8f8f !default;
$bronze: #b36a36 !default;
$rose: #e91e63 !default;
